<div class="jumbotron">
  <h1>So much to do!</h1>
  {{'hello' + ' world!'}}
</div>

<ul class="list-group" ng-show="isAuthenticated()">
  <li class="list-group-item row">
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <form ng-submit="submitNotebook()">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Enter a new notebook!" ng-model="notebook.title" autofocus />
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" ng-click="submitNotebook()">Add Notebook</button>
            </span>
          </div>
        </form>
      </div>
    </div>
  </li>
  <li class="list-group-item row" ng-repeat="(index, notebook) in notebooks">
    <div class="col-md-11 col-xs-11 noselect">
      <div ng-hide="notebook.editing" sglclick="readNotebook(notebook.$id)" ng-dblclick="editNotebook($event, notebook)" focus-input>
        {{notebook.title}}
      </div>
      <form ng-submit="doneEditNotebook(index, notebook)">
        <input type="text" class="form-control" 
          ng-show="notebook.editing" ng-model="notebook.title" ng-blur="doneEditNotebook(index, notebook)" />
      </form>
    </div>
    <div class="col-md-1 col-xs-1">
      <button class="btn btn-default btn-xs" type="button" ng-click="deleteNotebook(notebook)">&times;</button>
    </div>
  </li>
</ul>

<div ng-show="!isAuthenticated()">

</div>