
<ul class="list-group">
  <li class="list-group-item row" ng-dblclick="editNotebook()" ng-show="!notebook.editing">
    <div class="notebook-title">
      {{notebook.title}}
    </div>
    <div class="filters btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Filter by: <span class="caret"></span>
      </button>
   <!--    <select ng-model="filterItem.filter" ng-options="item.name for item in filterOptions.filters">
      </select>  -->
      <ul class="dropdown-menu">
        <li ng-repeat="filter in filterOptions.filters">
          <a ng-click="changeFilter(filter.id)" class="">{{filter.name}} <span class="float-right" ng-class="{'glyphicon glyphicon-ok': filterItem.filter.id == filter.id}"></span></a>
        </li>
       <!--  <li><a ng-click="changeFilter(1)" ng-class="{'filterActive': filterItem.filter.id == 1}">Todo</a></li>
        <li><a ng-click="changeFilter(2)">Finished</a></li>
        <li role="separator" class="divider"></li>
        <li><a ng-click="changeFilter(0)">All</a></li> -->
      </ul>
    </div>
  </li>
  <li class="list-group-item row" ng-show="notebook.editing">
    <form ng-submit="doneEditNotebook()">
      <input class="form-control noselect" type="text" ng-model="notebook.title" ng-blur="doneEditNotebook()" autofocus />
    </form>
  </li>

  <li class="list-group-item row">
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <form ng-submit="submitTask()">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Enter a task..." ng-model="task.note" />
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" ng-click="submitTask()">Add Task</button>
            </span>
          </div>
        </form>
      </div>
    </div>
  </li>

  <li class="list-group-item row" ng-repeat="(index, task) in tasks | filter:customFilter">

    <div class="col-md-1 col-xs-1">
      <input type="checkbox" class="btn" ng-model="task.done" ng-change="saveTask(index, task)">
    </div>

    <div class="col-md-9 col-xs-9 noselect">
      <div ng-class="{'strike': task.done}" ng-hide="task.editing" ng-dblclick="editTask(task)" sglclick="taskDetail(task.$id)" focus-input>
        {{task.note}}
      </div>
      <form ng-submit="doneEditTask(index, task)">
        <input type="text" class="form-control" 
        ng-show="task.editing" ng-model="task.note" ng-blur="doneEditTask(index, task)" 
        autofocus />
      </form>
      <div>
        <span ng-hide="task.done">
          Created on: {{task.created}}
        </span>
        <span ng-show="task.done">
          Finished on: {{task.finished}}
        </span>
      </div>
    </div>


    <div class="col-md-1 col-xs-1">
      <span class="badge" ng-show="task.subtasks">{{getChildrenLength(task)}}</span>
    </div>

    <div class="col-md-1 col-xs-1">
      <button class="btn btn-default btn-xs" type="button" ng-click="taskDetail(task.$id)">+</button>
      <button class="btn btn-default btn-xs" type="button" ng-click="deleteTask(task)">&times;</button>
    </div>

  </li>
</ul>