<ul class="list-group">
  <li class="list-group-item row" ng-dblclick="editTask()" ng-show="!task.editing">{{task.note}}</li>
  <li class="list-group-item row" ng-show="task.editing">
    <form ng-submit="doneEditTask()">
      <input type="text" class="form-control" 
              ng-show="task.editing" ng-model="task.note" ng-blur="doneEditTask()" 
              autofocus />
    </form>  
  </li>
  <li class="list-group-item row" ng-repeat="(index, subtask) in subtasks">
    <input type="checkbox" class="btn btn-xs col-md-1 col-xs-1" ng-model="subtask.done" ng-change="subtasks.$save(index)">
    <div class="col-md-10 col-xs-10 noselect">
      <div ng-class="{'strike': subtask.done}" ng-hide="subtask.editing" ng-dblclick="editSubtask(subtask)" focus-input>
        {{subtask.note}}
      </div>
      <form ng-submit="doneEditSubtask(index, subtask)">
        <input type="text" class="form-control" 
                ng-show="subtask.editing" ng-model="subtask.note" ng-blur="doneEditSubtask(index, subtask)" 
                autofocus />
      </form>
    </div>
    <button class="btn btn-default btn-xs col-md-1 col-xs-1" type="button" ng-click="deleteSubtask(subtask)">&times;</button>
  </li>

  <li class="list-group-item row">
    <div class="row">
      <div class="col-lg-12">
        <form ng-submit="submitSubtask()">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Enter a subtask..." ng-model="subtask.note" />
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" ng-click="submitSubtask()">Add Subtask</button>
            </span>
          </div>
        </form>
      </div>
    </div>
  </li>
</ul>